@keyframes fishingPoleFade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

.fishingPole-container{
  display: inline-block;
  position: absolute;
  width: auto;
  margin: 0px auto;
  bottom: -7%;
  left: 40%;
  -webkit-transition: all 0.1s ease-out;
  // opacity: 0;

  .hidden {
    display: none;
    opacity: 0;
  }

  .fadeInOut {
    animation: fishingPoleFade 0.5s 1;
  }

  .fishingPole{
    // opacity: .4;
  }

  
}
